/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation {
    /* Styles for navigation if any */
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    text-align: center;
    padding: .25rem;
    font-size: 1.25rem;
    width: 33.333333%;
    transition-property: colors;
    transition-duration: 500ms;
    background-color: transparent;
    color: #1a202c;
}

.nav-link.active {
    background-color: #1a202c;
    color: #f7fafc;
}

.main-content {
    flex-grow: 1;
    padding: .5rem;
}

/* Medium Breakpoint */
@media (min-width: 768px) {
    .main-content {
        padding: 1.5rem;
    }
}